/* ================================================================== BASE == */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: Montserrat, Verdana, sans-serif;
  background-color: ghostwhite;
  color: #3a5e48;
}





/* ============================================================ TYPOGRAPHY == */

p {
  margin: 0 0 1.5rem;
  line-height: 1.5;
}

a:hover {
  /* add hover state */
}





/* =============================================================== UTILITY == */

.group:after {
  content: "";
  display: table;
  clear: both;
}

.u-bold {
  font-weight: bold;
}

.u-thin {
  font-weight: thin;
}

.u-vertical-flex {
  display: flex;
  flex-direction: column;
}

.u-flex-center {
  justify-content: center;
}





/* ================================================================ HEADER == */

.header,
.footer {
  display: flex;
  height: 4rem;
}

.logo {
  display: inline-block;
  margin-left: 1.5rem;
  width: 2rem;
}

.logotype {
  margin: 1.25rem 0;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
}

.nav {
  display: flex;
  position: absolute;
  right: 1.5rem;
  margin: 1.5rem 0;
  padding: 0;
  list-style: none;
}

  .nav__item {
    padding-left: 1rem;
    color: #3a5e48;
    text-decoration: none;
  }

    .nav__item:hover,
    .nav__item:active {
      color: #e87f4d;
      /* border-bottom: 1px solid #e87f4d; */
      text-decoration: underline;
    }

  .nav__icon {
    display: none;
  }

  @media screen and (max-width: 43rem) {
    .nav {
      justify-content: space-between;
      align-content: flex-end;
      width: 60%;
    }

      .nav li {        
        width: 1.6875rem;
      }

      .nav li:nth-child(3) {
        display: none;
      }

    .nav__icon {
      display: block;
    }

    .nav__item,
    .logotype {
      display: none;
    }
  }




/* ================================================================== HERO == */

.hero {
  display: flex;
  padding: 2rem 1.5rem;
  background-color: #a5bfc5;
}

  .hero__title {
    margin: 0 0 1rem;
    font-size: 2.5rem;
    line-height: 1.25;
  }

  .hero__subtitle {
    margin: 0 0 2rem;
    font-size: 1.5rem;
    line-height: 1.25;
  }

  .hero__cta {
    display: block;
    padding: .5rem;
    background: #3a5e48;
    color: ghostwhite;
    text-align: center;
    text-decoration: none;
    transition: all 200ms ease-out;
  }

    .hero__cta:hover {
      background: #e87f4d;
      color: #3a5e48;
      color: black;
      font-weight: 600;
    }
  
  .hero__img {
    float: left;
    width: 60%;
    margin-right: 1.5rem;
  }

  @media screen and (max-width: 55.5rem) {
    .hero {
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .hero__img {
      float: none;
      width: calc(100% + 4rem);
      margin: -2rem -2rem 2rem;
    }
  }





/* ================================================================== NEWS == */

.news,
.thesis {
  display: flex;
  padding: 2rem 1.5rem;
}

.thesis {
  padding-top: 0;
}

  .news__featured,
  .thesis__featured {
    width: 60%;
    margin-right: 1.5rem;
  }

    .news__featured-img,
    .thesis__featured-video {
      width: 100%;
      margin-bottom: 2rem;
    }

    .news__featured-headline,
    .thesis__featured-title {
      margin: 0 0 1.5rem;
      font-size: 2rem;
    }

  .news__cards,
  .thesis__cards {
    width: 40%;
  }

  .news__card,
  .thesis__card {
    display: flex;
    padding: 1rem;
    border: 1px solid #a5bfc5;
  }

    .news__card:hover,
    .thesis__card:hover {
      background: #a5bfc5;
    }

    .news__card-img--mobi {
      display: none;
    }

    .news__card-img--dtop,
    .thesis__card-img {
      width: 35%;
      margin-right: 1rem;
    }

    .news__card-title,
    .thesis__card-title {
      margin: 0 0 .5rem;
    }

    .news__card-text {
      margin-bottom: .5rem;
    }

    .thesis__card-text {
      margin-bottom: 0;
    }

    .news__card-cta {
      color: #e87f4d;
      text-decoration: none;
    }

      .news__card:hover .news__card-cta {
        color: ghostwhite;
      }

@media screen and (max-width: 55.5rem) {
  .news__featured {
    display: none;
  }

  .news__cards {
    width: 100%;
  }

  .news__card {
    justify-content: center;
    padding-bottom: 2rem;
    border: 0;
  }

    .news__card-img--dtop {
      display: none;
    }

    .news__card-img--mobi {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
    }
}




/* =============================================================== COURSES == */

.courses {
  padding: 2rem 4.5rem;
  background-color: honeydew;
  background-color: #e87f4d;
}

  .courses__title,
  .thesis__title {
    margin: 0 0 2rem;
    background-color: ghostwhite;
    font-size: 2rem;
    text-align: center;
  }

    .thesis__title {
      margin-top: 2rem;
    }

  .courses__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

.courses-card {
  flex: 1 0 30%;
  width: 30%;
  min-width: 14.1875rem;
  margin: 0 1rem 1rem 0;
  background-color: ghostwhite;
  box-shadow: 0 4px 8px -4px #3a5e48;
  transition: all 200ms ease-out;
}

  .courses-card:hover {
    box-shadow: 0 4px 8px 0 #3a5e48;
    transform: scale(1.1);
  }

  .courses-card:nth-of-type(3),
  .courses-card:last-of-type {
    margin-right: 0;
  }

  .courses-card__img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .courses-card__title {
    margin: 0 1rem .5rem;
  }

  .courses-card__tag {
    margin: 0 1rem .5rem;
    text-transform: uppercase;
  }

  .courses-card__desc {
    margin: 0 1rem 1.5rem;
  }

@media screen and (max-width: 57.8125rem) {
  .courses-card:nth-of-type(3) {
    margin-right: 1rem;
  }
  
  .courses-card:nth-of-type(even) {
    margin-right: 0;
  }
}

@media screen and (max-width: 40.625rem) {
  .courses-card,
  .courses-card:nth-of-type(3) {
    margin-right: 0;
  }
}






/* ================================================================ THESIS == */

.thesis {

}





/* ================================================================ FOOTER == */

.footer {
  height: auto;
  /* padding: 1rem 2rem 4rem; */
  background-color: #a5bfc5;
  border-top: 1px solid #a5bfc5;
}

.copyright {
  margin: 1.5rem 0 4rem 2rem;
}