/* ================================================================== BASE == */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: ghostwhite;
  color: darkslategrey;
}

.u-bold {
  font-weight: bold;
}

.u-thin {
  font-weight: thin;
}




/* ================================================================ HEADER == */

.header {
  display: flex;
  height: 4rem;
}

.logo {
  display: inline-block;
  margin-left: 1.5rem;
  width: 2rem;
}

.logotype {
  margin: 1.25rem 0;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
}

.nav {
  display: flex;
  position: absolute;
  right: 1.5rem;
  margin: 1.5rem 0;
  list-style: none;
  
}

  .nav__item {
    padding-left: 1rem;
    color: darkslategrey;
    text-decoration: none;
  }

  .nav__icon {
    display: none;
  }

  /* reveal icon for mobile viewports */



/* ================================================================== HERO == */

.hero {
  background-color: honeydew;
}



/* ================================================================== NEWS == */

.news {

}



/* =============================================================== COURSES == */

.courses {
  background-color: honeydew;
}



/* ================================================================ THESIS == */

.thesis {

}



/* ================================================================ FOOTER == */

.footer {
  background-color: honeydew;
}

